<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projem.Properties.Settings.BANKA_Gorsel_ProgConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=&quot;BANKA-Gorsel Prog&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>